* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    font-family: "Roboto Slab", serif;
}
body.stop-transitions * {
    transition: none !important;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
/* header */
header {
    position: sticky;
    top: 0px;
    background-color: white;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 3px 15px rgba(100, 100, 100, 0.3);
}

.header-container {
    max-width: 65rem;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    position: relative;
    height: 5rem;
}

.logo-container {
    flex: 1;
    display: flex;
    align-items: center;
}
.logo {
    color: #fff;
    font-size: 2rem;
    font-weight: 800;
    text-decoration: none;
    text-transform: lowercase;
    line-height: 3rem;
    cursor: pointer;
}

.logo span {
    font-weight: 300;
}
.logo-container a {
    color: rgb(22, 22, 22);
    text-decoration: none;
}

.hidden {
    opacity: 0;
}
.console-container {
    font-size: 2em;
    text-align: left;
    display: flex;
    color: black;
    font-weight: 700;
    white-space: nowrap;
}
#text {
    white-space: nowrap;
}
.console-underscore {
    display: inline-block;
    position: relative;
    left: 10px;
}

.nav-btn {
    flex: 3;
    display: flex;
    align-items: center;
}
.nav-links {
    flex: 2;
}
.socials {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}
.btn {
    display: inline-block;
    padding: 0.5rem 1.3rem;
    font-size: 0.8rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    line-height: 1;
    margin: 0 0.2rem;
    transition: 0.3s;
}
.btn.solid,
.btn.transparent:hover {
    background-color: rgb(22, 22, 22);
    color: chartreuse;
}
.btn.transparent,
.btn.solid:hover {
    background-color: transparent;
    color: rgb(22, 22, 22);
}

.nav-links > ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link-custom {
    position: relative;
}

.nav-link-custom > a {
    line-height: 3rem;
    color: rgb(22, 22, 22);
    padding: 0 0.8rem;
    letter-spacing: 1px;
    font-size: 1.15rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
    text-decoration: none;
}

.nav-link-custom > a > i {
    margin-left: 0.2rem;
}

.nav-link-custom:after {
    background: none repeat scroll 0 0 transparent;
    margin-top: -10px;
    content: "";
    display: block;
    height: 3px;
    left: 50%;
    position: absolute;
    background: tomato;
    transition: width 0.6s ease 0s, left 0.6s ease 0s;
    width: 0;
}
.nav-link-custom:hover:after {
    width: 80%;
    left: 10%;
}

.dropdown-btn {
    position: absolute;
    top: 100%;
    left: 0;
    width: 10rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    border: 1px solid tomato;
}

.dropdown-btn ul {
    position: relative;
}

.dropdown-link > a {
    display: flex;
    background-color: white;
    color: rgb(22, 22, 22);
    padding: 0.5rem 0rem 0.5rem 1rem;
    font-size: 1rem;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s;
}
.dropdown-link:hover {
    text-decoration: none;
}
.dropdown-link:hover > a {
    background-color: tomato;
    color: rgb(15, 15, 15);
    text-decoration: none;
}

/* .dropdown-link:not(:nth-last-child(2)) {
    border-bottom: 1px solid #e6e6e6;
} */

.dropdown-link i {
    transform: rotate(-90deg);
}
.arrow {
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: #fff;
    transform: rotate(45deg);
    cursor: pointer;
    transition: 0.3s;
    z-index: -1;
}

.dropdown-link {
    position: relative;
}

.nav-link-custom:hover > .dropdown-btn,
.dropdown-link:hover > .dropdown-btn {
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}

.swiper-pagination-bullet {
    background-color: black !important;
}
/* burger */

.hamburger-menu-container {
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu div {
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: rgb(22, 22, 22);
    position: relative;
    z-index: 1001;
    transition: 0.5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: rgb(22, 22, 22);
    border-radius: 3px;
    transition: 0.5s;
}

.hamburger-menu div:before {
    transform: translateY(-7px);
}

.hamburger-menu div:after {
    transform: translateY(7px);
}

#check {
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div {
    background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before {
    transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after {
    transform: translateY(0) rotate(45deg);
}

@keyframes animation {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@media (max-width: 920px) {
    .about-1 {
        justify-content: center;
        padding-top: 30px;
        /* background-color: red; */
    }
    #about-container {
        /* margin: 1px; */
        /* display: flex; */
        /* flex-direction: column; */
        /* align-items: center; */
    }
    .hamburger-menu-container {
        display: flex;
    }

    #check {
        display: block;
    }

    .nav-btn {
        position: fixed;
        height: calc(100vh - 3rem);
        top: 5rem;
        left: 0;
        width: 100%;
        background-color: #e2e2e2;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: 0.65s;
    }

    #check:checked ~ .nav-btn {
        transform: translateX(0);
    }

    #check:checked ~ .nav-btn .nav-link-custom,
    #check:checked ~ .nav-btn .socials {
        animation: animation 0.5s ease forwards var(--i);
    }

    .nav-links {
        flex: initial;
        width: 100%;
    }

    .nav-links > ul {
        flex-direction: column;
    }

    .nav-link-custom {
        width: 100%;
        opacity: 0;
        transform: translateY(15px);
    }

    .nav-link-custom > a {
        line-height: 1;
        padding: 1.6rem 2rem;
    }

    .nav-link-custom:hover > a {
        transform: scale(1);
        background-color: #dddddd;
        text-decoration: none;
    }

    .dropdown-btn {
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        background-color: #e2e2e2;
        display: none;
    }

    .nav-link-custom:hover > .dropdown-btn,
    .dropdown-link:hover > .dropdown-btn {
        display: block;
    }

    .nav-link-custom:hover > a > i,
    .dropdown-link:hover > a > i {
        transform: rotate(360deg);
    }

    .dropdown-link > a {
        background-color: transparent;
        color: rgb(22, 22, 22);
        padding: 1.2rem 2rem;
        line-height: 1;
    }

    .dropdown-link > a {
        padding: 1.2rem 2rem 1.2rem 3rem;
    }

    .dropdown-link > a {
        padding: 1.2rem 2rem 1.2rem 4rem;
    }

    .dropdown-link:not(:nth-last-child(2)) {
        border-bottom: none;
    }

    .dropdown-link:hover > a {
        background-color: #cccccc;
    }

    .nav-link-custom > a > i {
        font-size: 1.1rem;
        transform: rotate(-90deg);
        transition: 0.7s;
    }

    .dropdown-btn i {
        font-size: 1rem;
        transition: 0.7s;
    }

    .socials {
        flex: initial;
        width: 100%;
        padding: 1.5rem 1.9rem;
        justify-content: space-around;
        opacity: 0;
        transform: translateY(15px);
        background-color: #cccccc;
    }
}

@media (max-width: 768px) {
    #about-container {
        max-width: 120%;
    }
    .about-1 {
        justify-content: center;
        padding-top: 0px;
        /* background-color: red; */
    }
    .about-1 .col-sm-4 {
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .about-1 .col-sm-8 {
        /* background-color: yellowgreen; */
        padding: 1rem 0px 0px 2rem !important;
    }
    .about-1 p {
        padding: 0rem !important;
    }
    .about-2 {
        margin-top: 0rem;
    }

    .about-2 .skill-container {
        background-color: tomato;
        margin-bottom: 0rem;
    }

    .about-1 h2 {
        text-align: center;
    }
    .about-1 img {
        /* position: absolute; */
        /* left: 50px; */
        max-height: 100%;
        width: auto !important;
        padding: 0.4vw 0.4vw 3vw 0.4vw;
        box-shadow: 0px 6px 20px -3px rgba(0, 0, 0, 0.54);
    }
    svg {
        height: 20px !important;
        position: absolute;
    }
}

.swiper-container {
    width: 100%;
    height: 85vh;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
}

.textSwiper {
    color: rgb(154, 154, 154);
    text-transform: lowercase;
    font-size: 7.2vh;
    position: absolute;
    z-index: 8;
    top: 40%;
    width: 100%;
    text-align: center;
    /* text-shadow: 2px 4px #000000a3; */
    background-color: white;
}
.textSwiper2 {
    color: rgb(231, 231, 231);
    text-transform: lowercase;
    text-decoration: underline;
    font-size: 7.2vh;
    position: absolute;
    z-index: 4;
    top: 50%;
    width: 100%;
    text-align: center;
    text-shadow: 2px 5px #0000006f;
    background-color: white;
}
/* footer */
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px;
    background-color: white;
}
.fab {
    font-size: 35px;
}

header .fab:hover {
    color: tomato;
    transition: color 0.2s ease-in-out;
    cursor: pointer;
}

.fa-instagram-square {
    background-color: transparent;
    transition: color 0.2s ease-in-out;
    color: rgb(22, 22, 22);
}
.fa-linkedin {
    background-color: transparent;
    transition: color 0.2s ease-in-out;
    color: rgb(22, 22, 22);
}
.fa-github-square {
    background-color: transparent;
    transition: color 0.2s ease-in-out;
    color: rgb(22, 22, 22);
}
.websites {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.embed-website {
    height: 500px;
    width: 90%;
    border: none;
    box-shadow: 0px 6px 20px -3px rgba(0, 0, 0, 0.54);
}
.embed-website:hover {
    transform: scale(1.005);
    transition: 0.2s ease-in-out;
}
.websites > h1 {
    padding-top: 30px;
    padding-bottom: 20px;
}
.websites a {
    text-decoration: underline;
}
.websites img {
    box-shadow: 0px 6px 20px -3px rgba(0, 0, 0, 0.54);
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.spacer {
    padding-top: 40px;
}
#portfolio {
    padding-left: 40px;
    padding-right: 40px;
    /* margin: 5%; */
}
.filter-container {
    display: flex;
    flex-direction: column;
}

.filter-button {
    font-size: 18px;
    border: 1px solid tomato;
    border-radius: 5px;
    text-align: center;
    color: tomato;
    margin-bottom: 30px;
}
.filter-button:hover {
    font-size: 18px;
    border: 1px solid tomato;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: tomato;
}
.btn-default:active .filter-button:active {
    background-color: tomato;
    color: white;
}
.port-image {
    width: 70%;
}
.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 2rem;
}

.photos {
    line-height: 0;
    -webkit-column-count: 5;
    -webkit-column-gap: 0px;
    -moz-column-count: 5;
    -moz-column-gap: 0px;
    column-count: 5;
    column-gap: 0px;
}
.photos img {
    width: 100% !important;
    height: auto !important;
    padding: 10px;
}
.photos img:hover {
    opacity: 0.95;
}
@media (max-width: 1200px) {
    .photos {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}
@media (max-width: 1000px) {
    .photos {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}
@media (max-width: 800px) {
    .photos {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}
@media (max-width: 400px) {
    .photos {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}
.about-1 {
    justify-content: center;
    padding-top: 30px;
    /* background-color: red; */
}
.about-1 .col-sm-4 {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.about-1 .col-sm-8 {
    /* background-color: yellowgreen; */
    padding: 0rem 5rem 0rem 5rem;
}
.about-2 {
    margin-top: 3rem;
}

.about-2 .skill-container {
    background-color: tomato;
    margin-bottom: 1rem;
}

.about-1 h2 {
    text-align: center;
}
.about-1 img {
    max-height: 400px;
    padding: 0.4vw 0.4vw 3vw 0.4vw;
    box-shadow: 0px 6px 20px -3px rgba(0, 0, 0, 0.54);
}
.resume-p {
    text-align: center;
    margin: 0px;
    margin-top: 0px;
}
.about-1 a {
    display: flex;
    justify-content: center;
    /* max-width: 50px; */
}
.about-1 svg {
    max-width: 7rem;
}
/* SVG color */
path {
    fill: tomato;
}
.column-1 h1 {
    text-align: center;
}
.column-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: black; */
    /* margin: 40px; */
}
.skill-bubble {
    background-color: tomato;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 3px;
}
.skill-bubble i {
    color: white;
}

.middle {
    transition: 0.5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.text {
    /* background-color: #000000; */
    color: black;
    font-size: 16px;
    padding: 16px 32px;
    font-weight: 600;
}
dl,
ol,
ul {
    margin-top: 0;
    margin-bottom: 0;
}
.contact-form div {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 6px 20px -3px rgba(0, 0, 0, 0.54);
    border: 1px solid white;
    margin: 5% 10% 5% 10%;
    padding: 5% 10% 5% 10%;
    border-radius: 1%;
}
.contact-form button {
    background-color: rgb(223, 223, 223);
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
}
.contact-form button:hover {
    background-color: rgb(191, 191, 191);
}
.contact-form label {
    display: flex;
    flex-direction: column;
}
.contact-form input,
.contact-form textarea {
    display: flex;
    border: 1px solid rgb(147, 147, 147);
    border-radius: 5px;
    padding: 5px;
}
#loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.7;
    background-color: #fff;
    z-index: 99;
    text-align: center;
}

#loading-image {
    position: absolute;
    top: 100px;
    left: 240px;
    z-index: 100;
}

.pdf-embed {
    align-items: center;
    padding: 10vh;
    height: 200vh;
}
.project-amiga-paragraph {
    padding: 2rem 4rem 2rem 4rem;
}
.wireframe {
    float: right;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
}
