* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body.stop-transitions * {
    transition: none !important;
}
html, body {
    overflow-x:hidden 
  } 
footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 4%;
    padding: 4px;
    background-color: #e6e6e6;
    color: rgb(22, 22, 22);
    font-size: 12px;
    font-family: "Palanquin", sans-serif;
}
.fa {
    padding: 10px;
    font-size: 50px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
    background: rgb(22, 22, 22);
    color: white;
}
.fa-linkedin {
    background: rgb(22, 22, 22);
    color: white;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 9vh;
    background-color: #e6e6e6;
    font-family: "Palanquin", sans-serif;
}

.logo a {
    color: rgb(22, 22, 22);
    text-decoration: none;
    text-transform: lowercase;
    letter-spacing: 5px;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}
.nav-links-div {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    column-gap: 30%;
}
.nav-links a {
    color: rgb(22, 22, 22);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.nav-links li {
    list-style: none;
}
.nav-links li a:hover {
    color: #f69730;
}
.nav-links li.active {
    color: blue;
}
.nav-links ul li a:hover {
    color: red;
}
/* .nav-links li ul {
    position: absolute;
    width: 200px;
    z-index: 9999;
    top: 40px;
    left: 50%;
    margin-left: -115px;
    text-align: center;
    background-color: white;
}
.nav-links li ul:before {
    content: " ";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    position: absolute;
    top: -10px;
    margin-left: -10px;
    left: 50%;
}
.nav-links li ul li {
    position: relative;
    display: block;
    text-align: center;
    margin: 0;
    border-bottom: 1px solid cyan;
}
.nav-links li ul li:last-child {
    border-bottom: 0;
}
.nav-links li ul li a {
    display: block;
    padding: 10px;
    color: purple !important;
}

.nav-links li ul li a:hover {
    color: brown !important;
}
.nav-links li ul li:after {
    display: none;
}
@media screen and (min-width: 769px) and (max-width: 991px) {
    .nav-links {
        margin-top: 0 !important;
    }
}
@media screen and (max-width: 768px) {
    .nav-links {
        margin-top: 0 !important;
    }
} */

.textSwiper {
    color: rgb(231, 231, 231);
    text-transform: lowercase;
    font-size: 7.2vh;
    font-family: "Palanquin", sans-serif;
    position: absolute;
    z-index: 4;
    top: 40%;
    width: 100%;
    text-align: center;
    text-shadow: 2px 5px #0000006f;
}
.burger {
    display: none;
    cursor: pointer;
}
.burger div {
    width: 23px;
    height: 3px;
    background-color: rgb(22, 22, 22);
    margin: 5px;
    border-radius: 2px;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    html, body {
        overflow-x:hidden 
      } 
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #e6e6e6;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        padding-top: 30px;
        padding-bottom: 30px;
        z-index: 5;
    }
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
        cursor: pointer;
    }
}
.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.swiper-container {
    width: 100%;
    height: 91vh;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
}
