.logo-container {
    flex: 1;
    display: flex;
    align-items: center;
}
.logo {
    color: #fff;
    /* font-size: 2rem; */
    font-weight: 800;
    text-decoration: none;
    text-transform: lowercase;
    /* line-height: 3rem; */
    cursor: pointer;
}

/* .logo span {
    font-weight: 300;
}
.logo-container a {
    color: rgb(22, 22, 22);
    text-decoration: none;
}
.console-container {
    text-align: left;
    display: flex;
    color: black;
    font-weight: 700;
    white-space: nowrap;
}
#text {
    white-space: nowrap;
}
.console-underscore {
    display: inline-block;
    position: relative;
    left: 10px;
}
.Typist .Cursor {
    display: inline-block;
}
.Typist .Cursor--blinking {
    opacity: 1;
    animation: blink 1s linear infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
} */
