.logo-container {
    flex: 1;
    display: flex;
    max-height: 5rem;
}
.logo-text {
    font-weight: 800;
    text-decoration: none;
    font-size: 32px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.logo-container a {
    display: flex;
    color: rgb(22, 22, 22);
}
