.home-page-body {
    min-height: calc(100vh - 2rem);
    display: flex;
    flex-direction: column;
    background-color: rgb(157, 181, 174);
}

.frame {
    position: absolute;
    height: inherit;
}
.frame-on-image {
    height: 300px;
}
.image {
    height: inherit;
}
body {
    overflow-x: hidden;
    font-family: "Roboto Slab", serif;
}
body.stop-transitions * {
    transition: none !important;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
