body.stop-transitions * {
    transition: none !important;
}
ul {
    list-style: none;
}
body {
    overflow-x: hidden;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.scrollhost {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollhost::-webkit-scrollbar {
    display: none;
}

main {
    min-height: calc(100vh - 7rem);
    display: flex;
}
